body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100vw;
}
#Title{
    font-size: 110px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.604);
    -webkit-text-stroke: 2.5px  #000000;
    background-clip: border-box;
    color:  rgba(255,255,255,.396);
}
.container{
    display: grid;
    place-items: center;
    font-size: 2rem;
   text-align: center;
    padding:30px 0 0 0 ;
}
#Mainbox, #QuizBox
{
     background: rgba(255, 255, 255, 0.494);
    backdrop-filter: blur(50px);
    place-self: center;
    width: 50rem;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(166, 155, 155);
}
#Mainbox label,button
{
    margin: auto;
}
button {
    width: 20vw;
    padding: 1vw;
    font-size: 1.5vw;
    margin: 1vw;
    cursor: pointer;
    border-radius: 1vw;
}

input[type='checkbox']
{
    cursor: pointer;
    font-size: 1.75rem;
}

#Options input[type = "checkbox"]{
    border-radius: 15px;
    
}

#Submit, #return{
    text-transform: uppercase;
    background-color: #28d86c;
    border: none;
    margin: 2vw;
    transition: all ease .75s;
}
#Submit:hover, #return:hover{
    box-shadow: 5px 5px 0px #000;

}
#score
{
    font-size: 2rem;
}
#resposce{
    font-size: 2rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 50px;
    margin: auto;
    z-index: 10;
    font-size: 5rem;
    
}