body{
    background-color:  #c0fdd7;
}
header{
    width: 50mm;
    margin: 0 auto;

}
main {
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color:  #5cfb99;
    width: 40%;
    margin: 0 auto;
    padding: 5mm;
    border: 2mm solid rgb(192, 253, 215);
    
}
label{
    font-size: 1rem;
}
.Check{
    color: red;
    font-size: 0.8rem;
}
input,select,button{
    padding: 40px;
    margin: 5mm 0mm;
    background-color: #c0fdd7;
    border-radius: 10px ;
    border-color: #5cfb99;
    outline: .75mm solid #c0fdd7;
    outline-offset: .25mm;
    

}
form{
    padding: 25%;
}